@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
#change-psw{
    width: 100%;
    min-height: 50vh;
    margin-top: 110px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#change-psw .ch-psw-title{
    text-align: center;
    padding-top: 2%;
    font-size: 50px;
    font-family: 'Bakbak One', cursive;
}

#change-psw form{
    margin-top: 4%;
    width: 400px;
    height: auto;
}

#change-psw form .input-container{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#change-psw form .input-container .ch-psw1,
#change-psw form .input-container .ch-psw2
{
    width: 80%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
#change-psw form .input-container div input{
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
    padding: 8px 8px;
    border-radius: 0;
    border: 1px solid #000;
}
#change-psw form .input-container div input:focus{
    outline-color: transparent;
}
#change-psw form .input-container div label{
    font-family: 'Fjalla One', sans-serif;
    font-size: 14px;
}
#change-psw form .input-container .btn-wrapper{
    width: 80%;
    height: 100px;
}
#change-psw form .input-container .btn-wrapper button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 0;
    border: 0;
    color: #fff;
    background-color: #28292b;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

#change-psw form .error-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#change-psw form .alert-danger{
    padding: 0 2%;
    width: 80%;
    height: 50px;
    color: #721c24;
    background-color: #f8d7da;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
#change-psw form .success-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
#change-psw form .successNewPsw{
    padding: 0 2%;
    width: 80%;
    height: 50px;
    color: #155724;
    background-color: #d4edda;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}