@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
#product{
    width: 100%;
    min-height: 100vh;
    margin-top: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4%;
}
#product .product-title{
    margin-top: 2%;
    font-size: 50px;
    font-family: 'Bakbak One', cursive;
}
#product .product-section{
    width: 100%;
    height: auto;
    padding: 0 8%;
    margin-top: 2%;
}
#product .product-menu{
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
#product .product-menu .product-option{
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    cursor: pointer;
}
#product .product-menu .product-option p{
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;
}
#product .product-menu .menu-first-options{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
#product .product-section #category-menu{
    display: none;
    position: absolute;
    left: 9%;
    top: 49%;
    background-color: #fff;
    list-style-type: none;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 200px;
    height: auto;
    border: 1px solid rgb(65, 64, 64);
    z-index: 997;
}
#product .product-section #color-menu{
    display: none;
    position: absolute;
    left: 15%;
    top: 49%;
    background-color: #fff;
    list-style-type: none;
    padding-top: 12px;
    padding-left: 5px;
    width: 200px;
    height: auto;
    border: 1px solid rgb(65, 64, 64);
    z-index: 997;
}
#product .product-section #sort-menu{
    display: none;
    position: absolute;
    right: 8%;
    top: 49%;
    background-color: #fff;
    list-style-type: none;
    padding-top: 12px;
    padding-left: 5px;
    width: 250px;
    height: auto;
    border: 1px solid rgb(65, 64, 64);
    z-index: 997;
}
#product .product-section .filter-selection label{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#product .product-section .filter-selection input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#product .product-section .filter-selection .checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(140, 137, 137);
}
#product .product-section .filter-selection label:hover  input ~ .checkmark{
    background-color: rgb(95, 89, 89);
}
#product .product-section .filter-selection label input:checked ~ .checkmark{
    background-color: #2196F3;
}
#product .product-section .filter-selection .checkmark::after{
    content: "";
    position: absolute;
    display: none;
}
#product .product-section .filter-selection input:checked ~ .checkmark:after{
    display: block;
}
#product .product-section .filter-selection .checkmark:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#product .product-section .menu-first-options #product-option{
    rotate: 0deg;
}
#product ul{
    list-style-type: none;
}
#product .product-selection{
    width: 100%;
    height: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
#product .product-selection .product-card{
    width: 250px;
    height: 420px;
}
#product .product-selection .product-card .product-model{
    font-family: 'PT Sans', sans-serif;
    margin: 2% 0 2% 0;
}
#product .product-selection .product-card img{
    width: 250px;
    height: 350px;
}