@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.a-title-screen-ct{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}
.title-screen-mobile{
    width: 100%;
    min-height: 70vh;
    background: url('../img/shoes.jpg')
    center center no-repeat;
    background-size: 100% 100%;
    transition: all 0.5 ease-in-out ;
    animation: banner-mobile 18s infinite linear;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 5%;
}
/**************** MOBILE BANNER ***********************/
@keyframes banner-mobile{
    0%{
        background-image: url('../img/shoes.jpg');
    }
    49%{
        background-image: url('../img/shoes.jpg');
    }
    50%{
        background-image: url('../img/clothes.jpg');
    }
    100%{
        background-image: url('../img/clothes.jpg');
    }
}
.container{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}
.container .a-shoes-link{
    width: 100%;
    height: 100%;
    background-image: url('../img/shoes.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container .a-clothes-link{
    width: 100%;
    height: 100%;
    background-image: url('../img/clothes.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.a-title-screen-ct .title-container{
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    color: #fff;
    gap: 20px;
}
.a-title{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    z-index: 995;
}
.a-title-screen-ct .title-container h3,
.title-screen-mobile h3{
    font-size: 25px;
    font-family: 'Homenaje', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}
/*************************************** HOME PURCHASE INFO *********************************************/
#homeAdd {
    /* padding: 6% 8%; */
    width: 100%;
    height: auto;
}
#homeAdd .homePurchase{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 4% 8%;
}
#homeAdd .homePurchase div{
    display: grid;
    place-items: center;
}
#homeAdd .homePurchase div h3{
    font-family: 'Concert One', cursive;
    padding-top: 6%;
}
#homeAdd .homePurchase div p{
    font-family: 'Commissioner', sans-serif;
    margin-top: 6%;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 0 2%;
    line-height: 25px;
    font-size: 16px;
}
#homeAdd .homePurchase i{
    color: #79796f;
    font-size: 40px;
}
/*********************** NEW ARRIVALS ***************************/
#homeAdd .new-arrivals{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    padding-bottom: 4%;
    background-color: #dfdfdd;
}
#homeAdd .new-arrivals .new-arrivals-title{
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 2%;
    font-size: 40px;
}
#homeAdd .hProduct-ct{
    width: 100%;
    height: 100%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
#homeAdd .hProduct-ct .product-card{
    width: 250px;
    height: 420px;
}
#homeAdd .hProduct-ct .product-card .product-model{
    font-family: 'PT Sans', sans-serif;
    margin: 2% 0 2% 0;
}
#homeAdd .hProduct-ct .product-card img{
    width: 250px;
    height: 350px;
}
/*********************** RESPONSIVE *****************************/
@media screen and (max-width: 992px) {
    .container{
        display: none;
    }
    .title-screen-mobile{
        display: flex;
        font-size: 30px;
    }
    .title-screen-mobile div{
        background-color: rgba(32, 31, 31, .6);
        padding: 2% 0;
        width: 80%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title-screen-mobile .a-title{
        font-size: 30px;
    }
    .title-screen-mobile h3{
        font-size: 20px;
    }
    .a-title-screen-ct{
        margin-top: 80px;
    }
    #homeAdd .homePurchase{
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        place-items: center;
        gap: 10px;
    }
}