{% extends 'base-error.html.twig' %}

{% block title%}Page not found{% endblock %}

{% block style %}
    <style>
        #error{
            width: 100%;
            min-height: 100vh;
            padding-top: 10px;
            background: url('{{asset("img/error/404.jpg")}}');
            background-size: cover;
            display: flex;
            flex-direction: column;
        }
        #error h1{
            margin: 0;
        }
        #error a{
            background-color: #222;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 20px;
            width: 200px;
            height: auto;
        }
        #error a:hover{
            background-color: rgb(67, 65, 65);
        }
    </style>
{% endblock %}

{% block body %}
    <section id="error">
            <h1>Page not found</h1>
            <p>The page you are looking for was not found</p>
            <a href="{{path('home')}}">Back to the site</a>
    </section>

{% endblock %}